:root {
  /* Default color shades */
  --md-default-fg-color: #000015;
  --md-default-fg-color--light: #000015;
  --md-default-fg-color--lighter: #000015;
  --md-default-fg-color--lightest: #000015;
  --md-default-bg-color: #000015;
  --md-default-bg-color--light: #000015;
  --md-default-bg-color--lighter: #000015;
  --md-default-bg-color--lightest: #000015;

  /* Primary color shades */
  --md-primary-fg-color: #000015;
  --md-primary-fg-color--light: #000015;
  --md-primary-fg-color--dark: #000015;
  --md-primary-bg-color: #000015;
  --md-primary-bg-color--light: #000015;

  /* Accent color shades */
  --md-accent-fg-color: #000015;
  --md-accent-fg-color--transparent: #000015;
  --md-accent-bg-color: #000015;
  --md-accent-bg-color--light: #000015;

  /* Code block color shades */
  --md-code-bg-color: #000015;
  --md-code-fg-color: #000015;
}
